footer {
    background-color: $primary-text;
    padding: 3rem;
    color: $primary;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;




    h2 {
        font-family: var(--font-conthrax);
        font-weight: bold;
        font-size: 20px;
    }

    ul {
        font-family: var(--font-montserrat);
        font-weight: 500;

        li {
            margin-top: 0.5rem;
            position: relative;

            &::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: $secondary;
                border-radius: 100%;
                margin-right: 1em;
                vertical-align: middle;
            }

        }
    }

    .contact-us>p {
        display: flex;
        align-items: start;
        gap: 1rem;
        margin-top: 0.5rem;
        font-family: var(--font-montserrat);
        font-weight: 500;
    }

    .bottom-footer {
        grid-column: 1/-1;
        border-top: 5px solid $primary;
        padding-top: 2rem;
        margin-top: 2rem;

        .social-media-handles {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;

            .box {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                background-color: $secondary;
                box-shadow: $tertiary 5px 5px;
                color: $primary-text;
                transition: all 0.5s;

                &:hover{
                    transform: translateY(-10px);
                }
            }

        }

        p {
            margin-top: 1rem;
            text-align: center;
            font-family: var(--font-montserrat);
            font-weight: 500;
        }
    }



    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;

        .img-box {
            grid-column: 1 / -1;
            justify-content: flex-start;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 1.5rem;
    }


}