header {
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: position 0.5s;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;

    &.scrolled {
        animation: headerAnimation 0.5s;
        position: fixed;
        background-color: $primary;
    }

    .nav-item-container {
        position: relative;
        margin: 0 0.5rem;

        .nav-parent {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            position: relative;

            .caret {
                transition: rotate 0.3s ease;
                color: white;
            }

            &.active .caret {
                transform: rotate(-180deg);
            }
        }

        .dropdown {
            // scale: 0;
            transform: scale(0);
            position: absolute;
            top: 100%;
            left: -50%;
            background: darken($primary, 5%);
            padding: 1rem;
            border-radius: 4px;
            min-width: 250px;
            z-index: 100;
            transition: all 0.5s;
            transform-origin: top;

            a {
                display: block;
                padding: 0.5rem;
                margin: 0.25rem 0;
                color: white;
                position: relative;
                font-size: 12px;
                font-weight: 400;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background: $gradient-p;
                    transition: width 0.3s ease;
                }

                &:hover,
                &.active {
                    &::before {
                        width: 100%;
                    }
                }
            }

            &.open {
                // scale: 1;
                transform: scale(1);
            }
        }

        &:hover .dropdown {
            @media (min-width: 768px) {
                display: block;
            }
        }
    }

    nav {

        span,
        a {
            font-family: var(--font-montserrat);
            font-weight: bold;
            padding: 0.5rem;
            color: white;
            cursor: pointer;
            position: relative;
            width: fit-content;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                height: 5px;
                width: 100%;
                border-radius: 100px;
                background: $gradient-p;
                transform: scaleX(0);
                transition: 0.5s;
                transform-origin: left;
            }

            &.active,
            &:hover {
                text-shadow: #fff 0.2px 0.2px 1px;

                &::before {
                    transform: scaleX(100%);
                }
            }
        }

        @media (max-width: 767px) {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: $primary;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            flex-direction: column;
            padding: 2rem;
            display: flex;
            z-index: 1000;

            .nav-item-container {
                margin: 0.5rem 0;
                width: 100%;

                .nav-parent {
                    width: 100%;
                    justify-content: space-between;
                }

                .dropdown {
                    position: static;
                    background: transparent;
                    padding: 0;
                    margin-left: 1rem;
                    display: none;

                    &.open {
                        display: block;
                    }
                }
            }

            &.open {
                transform: translateX(0);
            }

            button {
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: white;
                padding: 0.2rem;
            }
        }

        @media (min-width: 768px) {
            display: flex;
            position: static;
            transform: none;
            width: auto;
            height: auto;
            padding: 0;
            background-color: transparent;
            flex-direction: row;

            button {
                display: none;
            }
        }
    }

    >button {
        z-index: 1001;
        color: white;
        padding: 0.2rem;

        @media (min-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 768px) {
        padding: 0 1.5rem;
    }

    @keyframes headerAnimation {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0%);

        }
    }
}